*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 1px solid black;
    height: 250px;
}



/* ***debug*** */
.debug .container {
    background-color: pink;
}

.box {
    padding: 5px;
}

.row .box-nested {
    height: 100%;
    background-color: #f07f80;
    border: 1px solid white;
    text-align: center;
}